openai
python-dotenv
edge-tts
moviepy
requests
pillow
fastapi
uvicorn
pydantic
google-generativeai
google-genai
replicate
psutil
tweepy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
facebook-sdk
